<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>


    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_menu"></div>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- Left Side DIV -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" alt="deep" class="img-fluid" title="deepak sinha">
                        </figure>

                        <p>Welcome to Deepak Sinha World</p>
                        <h2>{{errorMsg}}</h2>
                        <a href="/"><button>Go Back</button></a>
                    </div>

                    <!-- Right Side DIV -->
                    
                </div>
            </div>
        </div>
    </div> 

    <!-- footer -->
     {{>footer}}
</body>
</html>