<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>


    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_menu"></div>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- Left Side DIV -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" style="height: 50rem;" alt="deep" class="img-fluid" title="deepak sinha">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h2>I am A <span class="text_clr"> Software Developer,</span> Gamer And A Entertainer</h2>
                        <a href="#"><button>About me</button></a>
                    </div>

                    <!-- Right Side DIV -->
                    
                </div>
            </div>
        </div>
    </div> 

    <!-- footer -->
     {{>footer}}
</body>
</html>